.column-filter input[type="text"].column-filter {
    width: 100% !important;
}

.show-banners {
    display: none;
}

.table>tbody>tr>td,
.table>tbody>tr>th,
.table>tfoot>tr>td,
.table>tfoot>tr>th,
.table>thead>tr>td,
.table>thead>tr>th {
    padding-right: 0px !important;
}

thead.fixed {
    position: fixed;
    top: 0;
}

thead.stub {
    visibility: hidden;
    display: none;
}

.table>tbody>tr.even {
    background: #FFF !important;;
}
.table>tbody>tr.odd {
    background: #f9f9f9 !important;
}